<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-06-14T07:54:26Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sunnypei/Desktop/ios-code/自定义转场动画/自定义转场动画.xcodeproj</string>
</dict>
</plist>
